    .main{
        width: 260px;
        height: 450px;
        margin-top: 60px;
        border-radius: 6px;
        border: 1px solid #44929E;
        background-color:#44929E ;
    }


    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #input{
        width: 240px;
        margin: 10px 8px ;
        border-radius: 3px;
        border:none;
        padding: 20px 0px;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .cas h2 {
        margin-top: 4px;
        font-size: medium;
        margin-left: 8px;
    }
    .num{
        font-size: smaller;
        margin-left: 190px;
        margin-top: -30px;
    }
    .edi{
        font-size: x-small;
        font-weight: 200;
        margin-left: 199px;
        margin-top: 20px;   
    }
    button{
        width: 46px;
        height: 30px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 545;
        margin-left: 2px;
        margin-bottom: 7px;
        border-radius: 4px;
    }
    .butt1{
        width: 20px;
        border-radius: 80px;
        border: 1px solid black;

    }
    .butt2{
        width: 20px;
        border-radius: 80px;
        margin-left: 20px;
        border: 1px solid black;
    }
    .but1 button{
        /* border-radius: 50px; */
        font-size: 10px;
        width: 40px;
        
    }
    .butt3{
        /* margin-top: -12px; */
        width: 50px;
        height: 50px;
        border-radius: 80px;
        margin-left: 10px;
        border: 1px solid black;
    }
    .butt4{
        width: 20px;
        border-radius: 80px;
        border: 1px solid black;
        margin-left: 10px;

    }
    .butt5{
        width: 20px;
        border-radius: 80px;
        border: 1px solid black;
        margin-left: 30px;
    }

    #input{
        padding-left: 15px;
        box-sizing: border-box;
    }

    #dot{
    font-weight: 600;
    }