*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    box-shadow: 2px 2px 10px rgb(73, 73, 73);
}
.btn-dark{
    margin-right: 20px;
}
.dropdown-item:hover{
    background-color: black !important;
    color: white !important;
}
.navbar-nav{
    position: relative;
    left: 30% ;
    display: flex;
    gap: 20px;
}
.navbar-nav li a{
    font-size: 18px !important;
}
.navbar-brand{
    font-size: 26px !important;
    font-weight: bold;
}
.carousel-item img{
    width: 100%;
    max-height: 600px;
}
.cardsSection{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    padding: 20px 20px;
}
.card{
    box-shadow: 2px 2px 10px rgba(57, 57, 57, 0.684);
}
.footer{
    margin-top: 20px;
    background-color: black;
    color: white;
}
.content{
    max-width: 100%;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px){
    .footer{
        padding: 4px;
        display: flex;
        align-items: center;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer h4{
        font-size: 14px;
        margin-top: 5px;
    }
}